Modules/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
pandas
numpy
matplotlib
memory-profiler
librosa
pylab-sdk
nltk
torch
torchvision
torchaudio
transformers
tensorflow
keras
scikit-learn
gensim
Wave
SpeechRecognition